<ion-header>
  <ion-navbar>
    <ion-title>Cool App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 [ngClass]="timeStatus">{{timeRemaining}}</h1>
  <h2 class="score">SCORE: {{score}}</h2>

  <ion-card *ngIf="currentQuestion.category" [ngClass]="cardStatusClass">
    <ion-card-header>
      {{currentQuestion.category}} ({{currentQuestion.difficulty}})
    </ion-card-header>
    <ion-card-content>
      <p>{{currentQuestion.question}}</p>
    </ion-card-content>
    <ion-list>
      <button (click)="checkAnswer(answer,currentQuestion)" *ngFor="let answer of currentQuestion.all_answers" ion-button color="primary"><p>{{answer}}</p></button>
    </ion-list>
  </ion-card>

  <!-- <button *ngIf="questions.length==0" (click)="getQuestions()" ion-button color="secondary">MORE QUESTIONS!</button> -->
  
</ion-content>
