<ion-header>
  <ion-navbar>
    <ion-title>Cool App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="flashit">SCORE: {{score}}</h2>

  <ion-card *ngFor="let question of questions">
    <ion-card-header>
      {{question.category}} ({{question.difficulty}})
    </ion-card-header>
    <ion-card-content>
      {{question.question}}
    </ion-card-content>
    <ion-list>
      <button (click)="checkAnswer(answer,question)" *ngFor="let answer of question.all_answers" ion-button outline>{{answer}}</button>
    </ion-list>
  </ion-card>

  <button *ngIf="questions.length==0" (click)="getQuestions()" ion-button color="secondary">MORE QUESTIONS!</button>
  
</ion-content>
